<!-- Überprüft durch Claude 4 -->
 
{% extends "base.html" %}
{% block content %}

<h3>Administration</h3>
<div class="container-wrapper">
    <a href="{{ url_for('tss.route_lehrkraftanmeldung') }}" target="_blank" rel="noopener" class="tooltip"
        data-tooltip="Anmeldeseite für Lehrkräfte">
        <div class="btn btn-primary midi">Anmeldeseite</div>
    </a>

    <a href="{{ url_for('admin.route_berateranzeige') }}" target="_blank" rel="noopener" class="tooltip"
        data-tooltip="Termine anzeigen, Anmeldemail erneut versenden, Löschen ">
        <div class="btn btn-primary midi">Lehrkräfte</div>
    </a>
</div>
<hr>

<div class="container-wrapper">
    <a href="{{ url_for('admin.route_config') }}" target="_blank" rel="noopener" class="tooltip"
        data-tooltip="Termin für Sprechtag, Passwort, Mailserver etc.">
        <div class="btn btn-warning midi">Konfigurationsseite</div>
    </a>
</div>

{% endblock %}