
 
{% extends "base.html" %} 
{% block content %}

<h3>Dashboard: <br>
    <span>{{berater.berater_vorname}} {{berater.berater_nachname}} ({{berater.berater_raum}})</span>
</h3>
<div class="container-wrapper">

    <a href="{{ url_for('tss.route_lehrkraftanmeldung', token=berater.token ) }}" target="_self" class="tooltip"
        data-tooltip="Name, Raum, etc.">
        <div class="btn btn-primary midi">Einstellungen</div>
    </a>

    <a href="{{ url_for('tss.route_buchungenanzeige', token=berater.token) }}" target="_self" class="tooltip"
        data-tooltip="Termine anzeigen, Termine Löschen ">
        <div class="btn btn-primary midi">Buchungen</div>
    </a>
</div>


<script>
    document
        .getElementById("clickable-box")
        .addEventListener("click", function () {
            // Formular per JavaScript absenden
            document.getElementById("myForm").submit();
        });
</script>
{% endblock %}